<?php

// MySQL Credentials

$servername = "";
$username = "";
$password = "";
$dbname = "";

// Key and token to Trello (https://developers.trello.com/get-started)

$key = '';
$token = '';

$cardsLimit = 100;
